
/* There is only padding, no column on right */
.site-header{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding-inline: 16px;
  /* Gets too big on 4k screens */
  padding-block: 3vw;
}

.site-logo {
  display: none;
}

.site-nav{
  white-space: nowrap;
  grid-column: 1 / -1;
}

.site-nav menu {
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
  list-style: none;
}

.site-nav li{
  font-size: 2vw;
}

/* There is one column on right in 768 px  */
@media (min-width: 768px){
  .site-header{
    grid-template-columns: repeat(8, 1fr);
  }
  .site-logo {
    grid-column: 2 /4;
    display: block;
  }
  .site-nav {
    white-space: nowrap;
    grid-column: 4/8;
  }

  .site-nav menu {
    margin: 0;
  }
  .site-nav li {
    font-size: 1.6vw;
  }
}

/* There are two columns on the right for space and no padding */
@media (min-width: 1280px){
  .site-header{
    grid-template-columns: repeat(12, 1fr);
    padding-inline: 16px;
    padding-block: 2vw;
  }
  .site-logo {
    grid-column: 2 /4;
  }

  .site-nav {
    white-space: nowrap;
    grid-column: 5/12;
  }
  .site-nav menu {
    margin: 0;
  }
  .site-nav li {
    font-size: 1.4vw;
  }
}
