.site-hero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.hero-text {
  grid-column: 1 / 2;
}

.hero-img {
  grid-column: 3 / 4;
  width: 30vw;
  max-width: 350px;
}

@media (min-width: 768px) {
  .site-hero {
    grid-template-columns: repeat(8, 1fr);
  }

  .hero-text {
    grid-column: 2 / 4;
  }

  .hero-img {
    grid-column: 5 / 6;
  }
}

@media (min-width: 1280px) {
  .site-hero {
    grid-template-columns: repeat(12, 1fr);
  }

  .hero-text {
    grid-column: 2 / 5;
  }

  .hero-img {
    grid-column: 5 / 10;
  }
}